body {
    background-color: lightgrey;
}

.main-content {
    background-color: white;
    margin: 20px;
    padding: 50px;
}

.inner-content {
    padding: 0px;
}

#profile-pic {
    display: block;
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.pic {
    display: block;
    height: 200px;
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

form {
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
}
